{% extends 'base.html.twig' %}

{% block title %}Les Enigmes{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <div>

        <div class="row justify-content-between" style="padding: 100px 0 20px 0">

            <button class="btn" style="padding: 0 0 0 0; font-size: 2rem"><i class="fa fa-bars"></i></button>

            <img class="photoProfil" src="{{ asset('uploads/' ~ app.user.photo) }}" alt="Photo profil" width="150"
                 height="170">
        </div>

        <div class="row" style="padding-bottom: 20px">
            <h1 style="font-size: 80px">Les Enigmes</h1>
        </div>

        <div class="row">
            {% for enigma in enigmas %}
                <div class="col-3" style="padding-bottom: 20px">
                    <a class="btn btn-warning" style="border-radius: 20px"
                       href="{{ path('player_show_enigma', {'id': enigma.id}) }}">{{ loop.index }}</a>
                </div>
            {% else %}
                no records found
            {% endfor %}
        </div>
    </div>
{% endblock %}
