{% extends 'base.html.twig' %}

{% block title %}Les Enigmes{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <div>

        <div class="row justify-content-between" style="padding: 100px 0 20px 0">

            {% include 'inc/menu.html.twig' %}

            <span id="timer"></span>

            <img class="photoProfil" src="{{ asset('uploads/' ~ app.user.photo) }}" alt="Photo profil" width="150"
                 height="170">
        </div>

        <div class="row" style="padding-bottom: 20px">
            <h1 style="font-size: 80px">Les Enigmes</h1>
        </div>

        <div class="row">
            {% for playerEnigma in listPlayerEnigma %}
                <div class="col-3" style="padding-bottom: 20px">
                    <a
                            {% if playerEnigma.solved == 0 %}
                                class="btn btn-danger"
                            {% elseif playerEnigma.solved == 1 or playerEnigma.solved == 2 %}
                                class="btn btn-warning"
                            {% elseif playerEnigma.solved == 3 %}
                                class="btn btn-success"
                            {% endif %}
                            style="border-radius: 20px"
                            href="{{ path('player_show_enigma', {'id': playerEnigma.enigma.id}) }}">{{ loop.index }}</a>
                </div>
            {% else %}
                no records found
            {% endfor %}
        </div>
    </div>

    <!-- Modal Challenge-->
    <div class="modal fade" id="challengeModal" tabindex="-1" role="dialog" aria-labelledby="challengeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="challengeModalLabel">Challenge</h5>
                </div>
                <div class="modal-body">
                    Il vous reste moin de {{ challenge | format_time }} minutes avant la fin du jeux,
                    voulez vous tester une enigme que vous n'avez pas encore résolue ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include "testTimer.html.twig" %}
{% endblock %}
