{% extends 'base.html.twig' %}

{% block title %}{{ enigma.name }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <div>

        <div class="row justify-content-between" style="padding: 100px 0 20px 0">
            <div>
                {% include 'inc/menu.html.twig' %}

                <a href="{{ path('player_list_enigmas') }}" class="btn" style="padding: 0 0 0 0"><i
                            class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
            </div>

            <img class="photoProfil" src="{{ asset('uploads/' ~ app.user.photo) }}" alt="Photo profil" width="150"
                 height="170">
        </div>


        <div class="row">
            <div class="col-4">
                <button class="btn" style="padding: 0 50px 0 0" data-toggle="modal"
                        data-target="#helpModal"><i class="fa fa-question-circle fa-3x" aria-hidden="true"></i></button>
            </div>
            <div class="col-8">
                <h1 style="font-size: 80px">{{ enigma.name }}</h1>
            </div>
        </div>

        <div class="row justify-content-center" style="padding-bottom: 20px">

        </div>

        <div class="row justify-content-center">
            {{ enigma.description }}
        </div>

        <div class="row justify-content-center">
            {{ form_start(form) }}

            <div class="justify-content-center">
                {{ form_label(form.answer) }}
                {{ form_widget(form.answer) }}
            </div>

        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn border">Tester</button>
        </div>
        {{ form_end(form) }}

    </div>

    <!-- Modal Help-->
    <div class="modal fade bd-example-modal-lg" id="helpModal" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Demander de l'aide</h5>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody>
                        {% for player in listOtherPlayer %}
                            <tr>
                                {% if player.photo is defined %}
                                    <td>
                                        <img class="photoProfil" src="{{ asset('uploads/' ~ player.photo) }}"
                                             alt="Photo profil" width="150"
                                             height="170">
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="photoProfil" src="{{ asset('uploads/admin/Pandawasta.png') }}"
                                             alt="Photo profil" width="150"
                                             height="170">
                                    </td>
                                {% endif %}
                                <td>
                                    {{ player.pseudo }}
                                    <button class="btn border" style="padding: 0 50px 0 0"
                                            onclick="recoverPlayer({{ player.id }})" data-toggle="modal"
                                            data-target="#askHelpModal" data-dismiss="modal">Help !
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ask Help-->
    <div class="modal fade bd-example-modal-lg" id="askHelpModal" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="askHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="askHelpModalLabel">Demander de l'aide</h5>
                </div>
                <div class="modal-body">
                    La personne vous a-t'elle aidé ?
                    <button class="btn border" style="padding: 0 50px 0 0" onclick="increaseAcceptHelp()"
                            data-toggle="modal"
                            data-target="#relevanceHelpModal" data-dismiss="modal">Oui
                    </button>
                    <button onclick="sendRequest()" data-dismiss="modal">Non</button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Relevance Help-->
    <div class="modal fade bd-example-modal-lg" id="relevanceHelpModal" data-keyboard="false" tabindex="-1"
         role="dialog"
         aria-labelledby="relevanceHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="relevanceHelpModalLabel">Demander de l'aide</h5>
                </div>
                <div class="modal-body">
                    Sa réponse était elle pertinente ?
                    <button class="btn border" style="padding: 0 50px 0 0" onclick="increaseRelevanceHelp()"
                            data-toggle="modal"
                            data-dismiss="modal">Oui
                    </button>
                    <button onclick="sendRequest()" data-dismiss="modal">Non</button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        let playerAskRecevedHelp = -1;
        let acceptHelp = 0;
        let relevanceHelp = 0;
        let route;
        // Pour supporter les anciennes version de navigateur
        let xmlhttp;
        if (window.XMLHttpRequest) {
            // code for modern browsers
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for old IE browsers
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        function recoverPlayer(id) {
            playerAskRecevedHelp = id;
            updateRequest();
        }

        function increaseAcceptHelp() {
            acceptHelp++;
            updateRequest();
        }

        function increaseRelevanceHelp() {
            relevanceHelp++;
            updateRequest();
            sendRequest();
        }

        function sendRequest() {
            console.log(route);
            xmlhttp.open("GET", route, true);
            xmlhttp.send();
            playerAskRecevedHelp = -1;
            acceptHelp = 0;
            relevanceHelp = 0;
        }

        function updateRequest() {
            route = "{{ path('player_calcul_help', {'id': "PLAYER", 'acceptHelp': "ACCEPTHELP", 'relevanceHelp': "RELEVANCEHELP"}) }}";
            route = route.replace("PLAYER", playerAskRecevedHelp);
            route = route.replace("ACCEPTHELP", acceptHelp);
            route = route.replace("RELEVANCEHELP", relevanceHelp);
        }

    </script>
{% endblock %}
