{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <div>
        <h1>Voici le diagramme de vos compétences et atouts obtenus</h1>
        <canvas id="diagramSkill"></canvas>
        <canvas id="diagramAsset"></canvas>
        <div class="row justify-content-center" style="margin-top: 50px">
            <div>
                <h3>Voici ce que les organisateurs ont pensés de toi :</h3>
                <div class="row justify-content-center">
                    {{ app.user.descByAdmin }}
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('MDB-Free_4.19.1/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Free_4.19.1/js/mdb.min.js') }}"></script>
    <script>
        //radar
        var ctxR = document.getElementById("diagramSkill").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
            type: 'radar',
            data: {
                labels: [
                    {% for skill in tab %}
                    "{{ skill.name }}",
                    {% endfor %}
                ],

                datasets: [{
                    label: "Tableau de vos Competences",
                    data: [
                        {% for skill in tab %}
                        {{ skill.value }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 2
                },

                ]
            },
            options: {
                responsive: true,
                scale: {
                    angleLines: {
                        display: true
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 10
                    }
                }
            }
        });
    </script>
    <script>
        //radar
        var ctxR = document.getElementById("diagramAsset").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
            type: 'radar',
            data: {
                labels: [
                    {% for asset in player.playerAssets %}
                    {% if asset.value != 0 %}
                    "{{ asset.asset.name }}",
                    {% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: "Tableau d'atouts",
                    data: [
                        {% for asset in player.playerAssets %}
                        {% if asset.value != 0 %}
                        {{ asset.value }},
                        {% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1,
                    pointBackgroundColor: 'rgba(213, 39, 236, 0.5)'
                },
                ]
            },
            options: {
                responsive: true,
                scale: {
                    angleLines: {
                        display: true
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 10
                    }
                }
            }
        });
    </script>
{% endblock %}
