{% extends 'base.html.twig' %}

{% block title %}Administrateur Groupe(s){% endblock %}

{% block body %}
    {% include "admin/navAdmin.html.twig" %}
    <h1 class="col-12 justify-content-center">Groupe : {{ team.number }}</h1>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Numéro du groupe</th>
            <th>Ouvert</th>
            <th>Jeu Commencé</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ team.number }}</td>
                <td>{{ team.enable ? 'Oui' : 'Non' }}</td>
                <td>{{ team.beginGame ? 'Oui' : 'Non' }}</td>
                <td>
                    {% if team.enable == false %}
                        <a class="btn btn-outline-success" href="{{ path('admin_active_team', {'id': team.id}) }}">Ouvrir Groupe</a>
                    {% endif %}
                    {% if team.beginGame == false %}
                        <a class="btn btn-outline-success" href="{{ path('admin_letsplay_team', {'id': team.id}) }}">Commencer le Jeu</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a class="btn btn-success" href="{{ path('session_show_admin', {'id': team.session.id}) }}">Retour Aux Groupes</a>

    <hr>

    <br>

    <h1>Joueurs du Groupe</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Pseudo</th>
            <th>Mail</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>

                <td style="width:20%"><img class="photoProfil" src="{{ asset('uploads/' ~ player.photo) }}" alt="Photo profil" width="100%"></td>
                <td style="width:10%">{{ player.pseudo }}</td>
                <td style="width:20%">{{ player.mail }}</td>
                <td style="width:40%">{{ player.descByAdmin }}</td>
                <td style="width:10%">
                    <a class="btn btn-primary" href="{{ path('player_show_admin', {'id': player.id}) }}">Afficher Joueur</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Aucun Joueur dans ce groupe</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}