{% extends 'base.html.twig' %}

{% block title %}Admin Liste Session{% endblock %}

{% block body %}
    {% include "admin/navAdmin.html.twig" %}
    <h1>Sessions</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Activée</th>
            <th>Synchrone</th>
            <th>Date de Fin</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr {% if session.enable == true %}
                class="bg-success"
            {% endif %}>

                <td>{{ session.name }}</td>
                <td>{{ session.enable ? 'Oui' : 'Non' }}</td>
                <td>{{ session.synchrone ? 'Oui' : 'Non' }}</td>
                <td>{{ session.dateEndSession |format_datetime('full', 'none', locale='fr')}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('session_show_admin', {'id': session.id}) }}">Ouvrir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune Liste trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('gestion_session') }}">Retour Gestion</a>
{% endblock %}