{{ form_start(form) }}
    {{ form_widget(form) }}

{{ form_start(formTeam) }}
    {{ form_widget(formTeam) }}


<div class="form-example">
    <label for="nbrTeam">Nombre d'équipes : </label>
    <input type="number" name="nbrTeam" id="nbrTeam" required min="1" value="1">
</div>

    <button class="btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
{{ form_end(formTeam) }}
