{% extends 'base.html.twig' %}

{% block title %}Bonne Reponse{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <a href="{{ path('player_show_enigma', {'id': enigma.id}) }}" class="btn" style="padding: 0 0 0 0"><i
                class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>

    <div class="row justify-content-center">
        <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
    </div>

    <div class="row justify-content-center">
        Bravo !
    </div>

    <div class="row justify-content-center">
        Tu gagnes un point de
        {% for skill in enigma.listSkill %}
            {{ skill.name }}
            {{ loop.last ? '.' : 'et de '}}
        {% endfor %}
        {{ enigma.solved }}
    </div>
{% endblock %}

