{% extends 'base.html.twig' %}

{% block title %}Bonne Reponse{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <a href="{{ path('player_list_enigmas') }}" class="btn" style="padding: 0 0 0 0"><i
                class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>

    <div class="row justify-content-center">
        <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
    </div>

    <div class="row justify-content-center">
        Bravo !
    </div>

    <div class="row justify-content-center">
        Tu gagnes
        {% for skill in enigma.listSkill %}
            {{ skill.value }} point{% if skill.value > 1 %}s{% endif%} en
            {{ skill.name }}{{ loop.last ? '.' : loop.index == loop.length-1 ? ' et' : ','}}
        {% endfor %}
    </div>
{% endblock %}

